/build*/
/CMakeCache.txt
/CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

.idea/         # JetBrains IDEs (CLion, etc)
.vscode/       # VS Code configuration (optional, if you have user-specific settings)

.DS_Store      # macOS
Thumbs.db      # Windows